.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu li {
  list-style-type: none;
}

.menu ul li {
  text-align: left;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 700;
}
.menu ul {
  float: left;
}

nav.menu {
  width: 20%;
  height: 100vh;
  background: #11aaff;
  color: #fff;
}
.social a i {
  color: red;
}
.main {
  /* display: flex; */
  width: 80%;
  float: right;
}
ul.social li {
  display: inline-block;
  padding: 12px 15px;
}
ul.social {
  width: 100%;
  height: fit-content;
}
.main-p {
  width: 100%;
  display: block;
}

.menu ul navitem {
  display: block;
  text-align: left;
  padding: 14px 13px;
  font-weight: 600;
  font-size: 18px;
}
.menu ul a {
  display: inline-block;
  color: #fff;
  text-align: left;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 600;
}
.logo {
  max-width: 170px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid green;
  margin-top: 30px;
}

.main-p h1 {
  padding-top: 29px;
  font-weight: 200;
  color: green;
}
h3 {
  font-weight: 300;
  font-size: 38px;
  padding: 25px 0;
}
.about p {
  padding: 15px 35px;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 18px;
}
.Education,
.Skills,
.Contact,
.about,
.main-p {
  width: 80%;
}
.Education .card {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 1px 1px 3px rgb(148 148 148 / 50%);
}
.Skills ul li {
  list-style-type: decimal;
  font-size: 20px;
}
.Skills ul {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}
.Contact p {
  font-size: 20px;
}
